#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

table.unTbl {
}

td.register1{
  max-width: 80px;
}

td.register2 {
  width: 400px;
}


td.register3 {
}

td.ServerList1 {
  width: 50px;
  text-align: center;
}

td.ServerList2 {
  width: 500px;
  text-align: center;
}

td.ServerList3 {
  width: 50px;
  text-align: center;
}

td.ServerList4 {
  width: 500px;
  text-align: center;
}

td.ServerList5 {
  width: 50px;
  text-align: center;
}

td.ServerDetail1 {
  width: 200px;
  text-align: center;
}

td.ServerDetail2 {
  width: 500px;
  text-align: center;
}

input.SendMailTitle {
  width: 500px;
  text-align: left;
}

td.List {
  width: 100px;
  text-align: center;
}

td.topAlign {
  vertical-align: top;
}

textarea.Content {
  width: 500px;
  height: 200px;
}


#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 30px;
  width: 250px;
  list-style: none;
  margin: 0;
  padding-left: 10px;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: block;
}

.inset {
  padding: 20px 50px;
}

@media (max-width:767px) {

    #wrapper {
      padding-left: 0;
    }

    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: relative;
      left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 250px;
      width: 250px;
      transition: all 0.4s ease 0s;
    }

    #menu-toggle {
      display: inline-block;
    }

    .inset {
      padding: 15px;
    }
}

.protocolPopupWindowDiv {
    width : 70%; 
    height : 70%; 
    border : 8px solid #ccc; 
    position : absolute; 
    display : block; 
    z-index : 9999; 
    background : #ddd; 
}

.protocolPopupDiv {
    padding : 2px;
    z-index : 2000;
    font-size : 12px;
    cursor : pointer;
    position : absolute;
    right : 0;
}

.protocolSpan {
    border : 1px solid #000;
    width : 12px;
    height : 12px;
    line-height : 12px;
    text-align : center;
    display : block;
    background-color : #FFFFFF;
    left : -20px;
}

.protocolList {
    width : 100%;
    border : 0px;
    display : block;
    background-color : #FFFFFF;
}

div#rMenu {position:absolute; visibility:hidden; top:0; background-color: #555;text-align: left;padding: 2px;}
div#rMenu ul li{
    margin: 1px 0;
    padding: 0 5px;
    cursor: pointer;
    list-style: none outside none;
    background-color: #DFDFDF;
}

div.ztree#jobList li span.button.switch.level0 {visibility:hidden; width:1px;}
div.ztree#jobList li ul.level0 {padding:0; background:none;}