
script(type="text/javascript").
    var pugDataJobList = !{JSON.stringify(jobList)};

    function onJobClicked(jobIdx) {
        socket.emit('OpenJob', {jobName: pugDataJobList[jobIdx].name, jobId: pugDataJobList[jobIdx].id});
    }

    function onAddJobClicked() {
        socket.emit('AddJob', {jobName: $('input.newJobName').val()});
    }

    function onRenameJobClicked(jobIdx) {
        var jobName = $('a#jobName' + jobIdx)[0].innerHTML;

        $('a#jobName' + jobIdx).hide();
        $('div#normal' + jobIdx).hide();

        $('input#input' + jobIdx).show();
        $('div#rename' + jobIdx).show();

        $('input#input' + jobIdx).val(jobName);
    }

    function onRemoveJobClicked(jobIdx) {
        if (confirm("删除是不可恢复的，你确认要删除 " + pugDataJobList[jobIdx].name + " 吗？")) {
            socket.emit('RemoveJob', {jobName: pugDataJobList[jobIdx].name, jobId: pugDataJobList[jobIdx].id});
        }
    }

    function onRenameJobOKClicked(jobIdx) {
        var jobName = pugDataJobList[jobIdx].name;
        var newName = $('input#input' + jobIdx).val();
        if (newName.length == 0) {
            alert('请输入新名字');
            return;
        }

        $('a#jobName' + jobIdx).show();
        $('div#normal' + jobIdx).show();

        $('input#input' + jobIdx).hide();
        $('div#rename' + jobIdx).hide();

        socket.emit('RenameJob', {jobName: jobName, jobId: pugDataJobList[jobIdx].id, newJobName: newName});
    }

    function onRenameJobCancelClicked(jobIdx) {
        $('a#jobName' + jobIdx).show();
        $('div#normal' + jobIdx).show();

        $('input#input' + jobIdx).hide();
        $('div#rename' + jobIdx).hide();    
    }
div
    //- ul(style="list-style-type:none;")
    table(border='1', align='center')
        tr
            td(align='center') job名
            td
        - for (var i = 0; i < jobList.length; ++i)
            tr
                td(style='width:110px', align='center')
                    a(id='jobName' + i, href="javascript:void(0)", onclick='onJobClicked(' + i + ')') #{jobList[i].name}
                    input(id='input' + i, type='text', style='width:100px; display:none')
                td
                    div(id='normal' + i)
                        a(href="javascript:void(0)", onclick="onRenameJobClicked(" + i + ")") 改名
                        br
                        a(href="javascript:void(0)", onclick="onRemoveJobClicked(" + i + ")") 删除
                    div(id='rename' + i, style='display:none')
                        a(href="javascript:void(0)", onclick="onRenameJobOKClicked(" + i + ")") 确定
                        br
                        a(href="javascript:void(0)", onclick="onRenameJobCancelClicked(" + i + ")") 取消                        


    br
    br
    table
        tr
            td
                input.newJobName(type='text', style='width:100px')
            td
                a(href='javascript:void(0)', onclick='onAddJobClicked()') 新建