script.
    var paletteCallback = null;

    $(function(){ 
        // do something 
        //- console.log(pugDataRunningJobs);
        var defaultColor = 'ff0000';
        $("input.color").val(defaultColor);
        $('div.preview').css({"background": "#" + defaultColor});
        $("input.color").bind('input propertychange', function() {
            var color = $('input.color').val();
            setColor(color);
        });
    });

    function showGlobalPalette(callback){
        paletteCallback = callback;
        $('div#palette').show();
    }

    function closeGlobalPalette() {
        $('div#palette').hide();
    }

    function setColor(color) {
        $('input.color').val(color);
        $('div.preview').css({"background": "#" + color});
    }

    function onOK() {
        closeGlobalPalette();
        var color = $('input.color').val();

        if (paletteCallback) {
            paletteCallback(color);
        }
    }


div.protocolPopupWindowDiv#palette(style="display : none")
    a(href="javascript:closeGlobalPalette()" style="right : 14; position : absolute;") 关闭窗口
    div.protocolPopupDiv(onclick="closeGlobalPalette()")
        span.protocolSpan x

    div(style="width : 100%; height : 95%; top : 20; position : absolute; overflow : auto")
        table(border='1')
            - 
                var  palette = [
                    ["ff0000", "00ff00", "0000ff"],
                    ["ffff00", "00ffff", "ff00ff"],
                    ["7f0000", "007f00", "00007f"],
                    ["7f7f00", "007f7f", "7f007f"]
                ];
            - for(var i = 0; i < palette.length; ++i)
                tr
                    - for (var j = 0; j < palette[i].length; ++j) 
                        td(bgcolor=palette[i][j]  style="width: 16; height: 16" onclick="setColor('" + palette[i][j] + "')") 
                    

        p 颜色值
        input.color
        a(href='#' onclick="onOK()") 确定
        br
        div.preview(style="background: #00ff00; width: 24; height: 24")