extends ../layout

block content
    mixin tableTemplateMixin()
        table.Template(border="1")
            tr.param(align="center")
                td.paramName
                    input
                td.param
                    select.paramType
                        option int
                        option string
                        option simpleArray
                        option array
                        
                    table.Array(border="1" style="display:none")
                        tr(align="center")
                            td
                                a(href="#" onclick='onAddArray(this)') 添加
                        tr(align="center")
                            td 参数名
                            td 类型
                            td 描述
                td.paramNote
                    input

    mixin tableArrayTemplateMixin()
        table.ArrayTemplate(border="1")
            tr.paramArray(align="center")
                td.paramName
                    input
                td.param
                    select.paramType
                        option int
                        option string
                td.paramNote
                    input


    mixin paramsMixin()
        hr
        p 上行参数
        a(href="#" onclick="onAdd(this)") 添加
        table(border="1")
            tr(align="center")
                td 参数名
                td 类型
                td 描述


    script.
        var g_paramIndexMap = {};

        function onAdd(obj) {
            var tag = $(obj).closest('div').attr('class');
            if (g_paramIndexMap[tag] == undefined) {
                g_paramIndexMap[tag] = 0;
            }

            var prefix = 'div.' + tag + ' > table ';
            var tb = $(prefix);
            var firstTr = $('table.Template tr:eq(0)');
            var html = firstTr.html();
            html = '<tr class="param" align="center">' + html + '</tr>';
            
            tb.append(html);

            var tbLen = tb.find('> tbody > tr').length;

            tb.find(' > tbody > tr:eq(' + (tbLen - 1) + ') > td.param select').change(function(o) {
                var tr = $(o.currentTarget).closest('tr');
                var typeStr = tr.find('select').val();
                if (typeStr == 'array' || typeStr == 'simpleArray') {
                    tr.find('table').show();
                }
                else {
                    tr.find('table').hide();
                    tr.find('table tr:gt(1)').remove();
                }
            });

            g_paramIndexMap[tag]++;
        }

        function onAddArray(obj) {
            var tag = $(obj).closest('div').attr('class');
            var tb = $(obj).closest('table');
            var firstTr = $("table.ArrayTemplate tr:eq(0)");
            var html = firstTr.html();
            html = '<tr class="Array" align="center">' + html + '</tr>';

            tb.append(html);
        }


        function makeArrayParam(tr) {
            var data = {
                type: 'array',
                content: {}
            };

            var len = tr.find('> td.param table tr').length;

            for (var i = 0; i < len; ++i) {
                var subTr = tr.find('> td.param table tr.Array:eq(' + i + ')');
                var name = subTr.find('> td.paramName input').val();
                var type = subTr.find('> td.param select').val();
                switch(type) {
                    case 'int':
                        data.content[name] = makeIntParam(subTr);
                        break;
                    case 'string':
                        data.content[name] = makeStringParam(subTr);
                        break;
                }
            }

            return data;
        }

        function makeSimpleArrayParam(tr) {
            var data = {
                type: 'simpleArray',
                content: {}
            };

            var subTr = tr.find('> td.param table tr.Array:eq(0)');
            var type = subTr.find('> td.param select').val();

            switch(type) {
                case 'int':
                    data.content = makeIntParam(subTr);
                    break;
                case 'string':
                    data.content = makeStringParam(subTr);
                    break;
            }


            return data;
        }

        function makeIntParam(tr) {
            var data = {
                type: 'int',
                length: 4,
                desc: tr.find('> td.paramNote input').val()
            };

            return data;
        }

        function makeStringParam(tr) {
            var data = {
                type: 'string',
                desc: tr.find('> td.paramNote input').val()
            }

            return data;
        }

        function makeParam(tag) {
            var data = {};

            var table = $('div.' + tag + ' > table');
            var trs = $('div.' + tag + ' > table tr.param');

            for (var i = 0; i < trs.length; ++i) {
                var tr = $(trs[i]);

                var name = tr.find('> td.paramName input').val();
                var type = tr.find('> td.param select').val();

                switch(type) {
                    case 'int':
                        data[name] = makeIntParam(tr);
                        break;
                    case 'string':
                        data[name] = makeStringParam(tr);
                        break;
                    case 'array':
                        data[name] = makeArrayParam(tr);
                        break;
                    case 'simpleArray':
                        data[name] = makeSimpleArrayParam(tr);
                        break;
                }
            }

            return data;
        }

        function onCommitClicked() {
            var type = $('select.type').val();
            var data = {
                route: $('input.route').val(),
                "note": $('input.note').val(),
            };

            if (type === 'request') {
                data.request = makeParam('c2s');
                data.ack = makeParam('s2c');
            }
            else if (type === 'push') {
                data.request = makeParam('c2s');
            }
            else if (type === 'notify') {
                data.ack = makeParam('s2c');
            }
            else {
                alert("协议类型错误");
                return;
            }

            console.log(data);
        }

    h1 协议编辑

    div
        p 路由：
            input.route() 

        p 描述：
            input.note

        p 类型：
            select.type
                option request
                option push
                option notify

        div.templates(style="display : none")
            +tableTemplateMixin()

            +tableArrayTemplateMixin()


        div.c2s
            +paramsMixin()

        div.s2c
            +paramsMixin()


        div
            hr
            button(onclick="onCommitClicked()") 保存