extends ../layout

block content
    script.
        var socket = io.connect();

        socket.on('ErrorMsg', function(data) {
            alert(data.msg);
        });

        function onRefresh() {
            window.location.reload();
        }

        socket.on('Refresh', function() {
            onRefresh();
        });
        
    h1 运行中job管理

    div
        div(style="background-color:white;left:0%;width:10%;float:left;")
            h4 模板列表
            include runningJobList
        div(style="width:80%;left:10%;float:left;")
            h4 模板细节
            include runningJobConsole
